.container{
    max-width: 1200px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}

.input{
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 8px;
    padding-left: 32px;
    background-repeat:  no-repeat;
    background-position: left 11px center;
}

.input-address{   
    width: 690px;
    height: 40px;
    color: #BFBFBF;
    background-image: url(../img/home.svg);
    
}

.input-search{
    background-image: url(../img/search.svg);
    width: 306px;
    height: 34px;
}

.buttons{
    display: flex;
   align-items: center;
   width: 219px;
   justify-content: space-between;
}

.button{
   background: #fff;
   border: 1px solid #d9d9d9;
   box-sizing: border-box;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
   border-radius: 2px;
   color: #595959;
   font-size: 16px;
   line-height: 24px; 
   display: flex;
  
   
   height: 40px;
   padding: 8px 16px;

}

.button-primary{
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #fff;
}

.button-icon{
margin-right: 4px;

}

.promo{
    box-shadow:  0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/promo-image.png) no-repeat top right; 
    border-radius: 10px;
    padding: 68px 70px;
}

.promo-title{
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    margin-bottom: 16px;

}

.promo-text{
    max-width: 538px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #302C34;
}

.section-title{
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;

color: #000000;
}

.section-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px; 
    margin-bottom: 44px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    margin-bottom: 30px;
}

.card-image{
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card-text{
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}

.card-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.card-title{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.card-tag{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;   
    color: #FFFFFF;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}

.card-info{
    display: flex;
    align-items: center;

}

.rating{
margin-right: 26px;
color: #FFC107;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 32px;
}

.price, .category{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.price{
    margin-right: 10px;
}

.price::after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;

}

.rating-star{
    margin-right: 7px;
}